.reviews {
    height: 500px;
    background-color: $back-color;
    margin-left: 70px;
    margin-top: 50px;
    h2 {
        font-family: Josefin Sans;
        font-weight: 600;
        font-size: 50px;
        line-height: 106px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__list {
        &-blocks {
            position: relative;
            width: 250px;
            height: 300px;
            margin-right: 32px;
            border: 5px solid $second-color;
            border-radius: 5px;
            transform: translateX(-100px);
            &-photo {
                position: absolute;
                left: 25%;
                width: 100px;
                height: 100px;
                border-radius: 3px;
                border: 2px solid $second-color;
                margin: 10px 0px 10px 10px;
            }
            &-text {
                position: absolute;
                margin: 0 10px 0 10px;
                top: 45%;
                font-family: Josefin Sans;
                font-weight: 300;
                font-size: 17px;
                line-height: 17px;
                text-align: center;
            }
            h3 {
                position: absolute;
                bottom: 10%;
                left: 10px;
                font-family: Roboto;
                font-weight: 400;
                font-size: 17px;
            }
            h5 {
                position: absolute;
                bottom: 4%;
                left: 10px;
                font-family: Roboto;
                font-weight: 300;
                font-size: 11px;
            }
            &-stars {
                position: absolute;
                bottom: 5px;
                left: 10px;
            }
        }
    }

}
.slick-dots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 580px 10px 580px;
    li {
        list-style-type: none;
        }
        button {
            margin-right: 10px;
            cursor: pointer;
            background-color: $main-color;
            opacity: 0.6;
            border-style: none;
            border-radius: 30px;
            width: 15px;
            height: 15px;
            font-size: 0px;
        }
    }
    .slick-active {
        button {
            margin-right: 10px;
            cursor: pointer;
            background-color: $second-color;
            opacity: 0.7;
            border-style: none;
            border-radius: 30px;
            width: 20px;
            height: 20px;
            font-size: 0px;
            transition: 0.7s linear;
        }
}