.reviews {
    width: 100%;
    height: 500px;
    background-color: $back-color;
    margin-top: 50px;
    h2 {
        margin-left: 100px;
        font-family: Josefin Sans;
        font-weight: 600;
        font-size: 50px;
        line-height: 106px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__list {
        &-blocks {
            position: relative;
            width: 25%;
            height: 300px;
            // margin-right: 32px;
            border: 4px solid $second-color;
            border-radius: 5px;
            transform: translateX(-100px);
            &-photo {
                position: absolute;
                left: 25%;
                width: 100px;
                height: 100px;
                border-radius: 3px;
                border: 2px solid $second-color;
                margin: 10px 0px 10px 10px;
            }
            &-text {
                position: absolute;
                margin: 0 10px 0 10px;
                top: 45%;
                font-family: Josefin Sans;
                font-weight: 300;
                font-size: 17px;
                line-height: 17px;
                text-align: center;
            }
            h3 {
                position: absolute;
                bottom: 10%;
                left: 10px;
                font-family: Roboto;
                font-weight: 400;
                font-size: 17px;
            }
            h5 {
                position: absolute;
                bottom: 4%;
                left: 10px;
                font-family: Roboto;
                font-weight: 300;
                font-size: 11px;
            }
            &-stars {
                position: absolute;
                bottom: 5px;
                left: 10px;
            }
        }
    }

}
.slick-dots {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 46% 10px 46%;
    li {
        list-style-type: none;
        }
        button {
            margin-right: 10px;
            cursor: pointer;
            background-color: $main-color;
            opacity: 0.6;
            border-style: none;
            border-radius: 30px;
            width: 15px;
            height: 15px;
            font-size: 0px;
        }
}
.slick-active {
    button {
        margin-right: 10px;
        cursor: pointer;
        background-color: $second-color;
        opacity: 0.7;
        border-style: none;
        border-radius: 30px;
        width: 20px;
        height: 20px;
        font-size: 0px;
        transition: 0.7s linear;
    }
}
@media (max-width: 1000px) {
    .reviews {
        h2 {
            font-size: 36px;
            line-height: 40px;
            letter-spacing: 4px;
        }
        &__list {
            &-blocks {
                width: 200px;
                margin-right: 15px;
                &-text {
                    font-weight: 200;
                    font-size: 12px;
                    line-height: 14px;
                }
                &-photo {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }
}
@media (max-width: 680px) {
    .reviews {
        height: 360px;
        h2 {
            font-size: 28px;
            line-height: 26px;
            letter-spacing: 4px;
        }
        &__list {
            &-blocks {
                width: 120px;
                margin-right: 10px;
                height: 200px;
                border: 2px solid $second-color;
                &-photo {
                    width: 60px;
                    height: 60px;
                }
                &-text {
                    font-weight: 200;
                    font-size: 10px;
                    line-height: 10px;
                }
                h3 {
                    font-weight: 300;
                    font-size: 12px;
                }
                h5 {
                    font-weight: 100;
                    font-size: 6px;
                }
                &-stars {
                    width: 20%;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .reviews {
        height: 300px;
        h2 {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 4px;
        }
        &__list {
            &-blocks {
                margin-right: 5px;
                height: 150px;
                width: 80px;
                &-photo {
                    width: 40px;
                    height: 40px;
                }
                &-text {
                    font-weight: 200;
                    font-size: 8px;
                    line-height: 8px;
                }
                h3 {
                    font-weight: 300;
                    font-size: 8px;
                }
                h5 {
                    font-weight: 100;
                    font-size: 4px;
                }
                &-stars {
                    width: 20%;
                }
            }
        }
    }
}