.works {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: $back-color;
    &__head {
        margin: 40px 0 0 100px;
        display: block;
        width: 45%;
        font-family: Josefin Sans;
        font-weight: 600;
        font-size: 50px;
        line-height: 106px;
        letter-spacing: 6px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__btn {
        margin: 40px 100px 0 0;
        display: flex;
        justify-content: space-between;
        width: 255px;
        height: 96px;
        background-color: $main-color;
        margin-right: 150px;
        font-family: Josefin Sans;
        font-weight: bold;
        font-size: 20px;
        line-height: 31px;
        letter-spacing: 9px;
        text-transform: uppercase;
        color: $back-color;
        cursor: pointer;
        &-txt {
            display: block;
            width: 145px;
            margin: 22px 10px 25px 20px;
        }
        img {
            margin-right: 40px;
            transition: 0.3s linear;
        }
    }
    &__btn:hover img {
        margin-right: 20px;
    }
}
.cards {
    margin-left: 10%;
    background-color: $back-color;
    img {
        width: 450px;
        margin-right: 100px;
    }
}
@media (max-width: 1225px) {
    .works {
        &__head {
            font-weight: 500;
            font-size: 42px;
            line-height: 80px;
        }
        &__btn {
            width: 220px;
            height: 80px;
        }
    }
    .cards {
        img {
            width: 45%;
            margin-right: 30px;
        }
    }
}
@media (max-width: 860px) {
    .works {
        height: 170px;
        margin-top: 30px;
        &__head {
            font-weight: 400;
            font-size: 38px;
            line-height: 42px;
            letter-spacing: 4px;
        }
    }
    .cards {
        img {
            width: 40%;
            margin-right: 20px;
        }
    }
}
@media (max-width: 860px) {
    .works {
        height: 100px;
        &__head {
            font-weight: 400;
            font-size: 30px;
            line-height: 38px;
            letter-spacing: 2px;
        }
        &__btn {
            width: 150px;
            height: 50px;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 2px;
            &-txt {
                margin: 15px 5px 5px 5px;
            }
        }
    }
    .cards {
        img {
            width: 45%;
            margin-right: 30px;
        }
    }
}
@media (max-width: 724px) {
    .works {
        height: 80px;
        &__head {
            font-weight: 400;
            font-size: 30px;
            line-height: 32px;
            letter-spacing: 2px;
        }
        &__btn {
            width: 150px;
            height: 50px;
            font-size: 12px;
            line-height: 12px;
            letter-spacing: 2px;
            &-txt {
                margin: 15px 5px 5px 5px;
            }
            img {
                margin-right: 5px;
                width: 25%;
            }
        }
    }
    .cards {
        img {
            width: 40%;
            margin-right: 10px;
        }
    }
}
@media (max-width: 450px) {
    .works {
        height: 60px;
        &__head {
            font-weight: 200;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 2px;
        }
        &__btn {
            width: 20%;
            height: 30px;
            font-size: 7px;
            line-height: 7px;
            letter-spacing: 0px;
            &-txt {
                margin: 10px 5px 5px 5px;
            }
        }
    }
}