$main-color: rgba(48, 48, 49, 1);
$second-color: rgba(166, 135, 102, 1);
$back-color: rgba(219, 219, 219, 1);

body {
    margin: 0 auto;
    background-color: $back-color;
}

@import '../base/animation';
@import '../blocks/header';
@import '../blocks/about';
@import '../blocks/ask';
@import '../blocks/works';
@import '../blocks/review';
@import '../blocks/collaboration';
@import '../blocks/footer';
@import '../blocks/menu';
@import '../blocks/pageup';


